@import "common.css";

header {
	background: var(--primary-color);
	color: white;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 10;
}

nav {
	display: flex;
	justify-content: center;
}

ul {
	display: inherit;
	overflow: auto;
	padding: 0;
}

ul::before,
ul::after {
	content: '';
	position: absolute;
	height: 100%;
}

ul::before {
	left: 0;
	width: 5%;
	background: linear-gradient(90deg, var(--primary-color) 15%, transparent)
}

ul::after {
	right: 0;
	width: 15%;
	background: linear-gradient(270deg, var(--primary-color) 60%, transparent)
}

li {
	list-style: none;
	padding: 0.5em;
	cursor: pointer;
}

li:hover {
	background: var(--secondary-color);
}

@media screen and (max-width: 630px) {
	li:last-child {
		padding-right: 3em;
	}
}