:host {
	margin: 6em 0!important;
	display: grid;
	grid-gap: 2em;
}

.center {
	position: absolute;
	top: 3em;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	width: 100%;
	justify-content: center;
}

.center p {
	margin: 0.5em;
	font-size: 15px;
}

@media screen and (min-width: 768px) {
	:host {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (min-width: 1024px) {
	:host {
		grid-template-columns: 1fr 1fr 1fr;
	}
}